.footer{
    background-color:grey;
}
.footer-section-padding{
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}
.footer-links-div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color:white;
}
.footer-links-div h4{
    font-size: 25px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    color: floralwhite;
}
.footer-links-div p{
    font-size: 15px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;

}
.footer-below-links{
    display: flex;
    flex-direction: row;
}
.footer-below-links p{
    font-size: 13px;
    line-height: 16px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}
hr{
    color: white !important;
    width: 100%;
}
.footer-copyright p{
    font-size: 13px;
    line-height: 16px;
    color: white;
    font-weight: 600;
}
@media screen and (max-width:850px) {
    footer-heading h1{
        font-size: 44px;
        line-height: 50px;
   }
}